*{
margin: 0;
padding: 0;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
}
hr{
    position: absolute;
    left: 15px;
    bottom: 13%;
}

.outerBox{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerBox{
    width: 380px;
    height: 650px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    position: relative;
}

.imgBox{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 15px;
    left: 15px;
}
#img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#img1:active{
    background-color: hsl(178, 100%, 50%);
    background-blend-mode: multiply;
}
#p1{
    position: absolute;
    left: 15px;
    bottom: 36%;
    font-weight: 800;
}
#p1:active{
    color: hsl(178, 100%, 50%);
}
#p2{
    position: absolute;
    left: 15px;
    bottom: 26%;
    opacity: 0.5;
    font-weight: 300;
}
#span1{
    position: absolute;
    left: 15px;
    bottom: 18%;
    color: hsl(178, 100%, 50%);
}
#span2{
    position: absolute;
    right: 15px;
    bottom: 18%;
}
#p3{
    position: absolute;
    left: 15px;
    bottom: 30px;
}
#p3:active{
    color: hsl(178, 100%, 50%);
}
#man1{
    width: 20px;
    border: 1px solid white;
    border-radius: 20px;
}